@charset 'utf-8';

/*这是帖子的容器样式*/
.container{
    width:960px;
    margin: 0 auto;
    border: 1px solid #E1E5EE;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*一行帖子样式*/
.topic-rows{
    height: 80px;
    margin: 0 10px;
    border-bottom:1px solid #E1E5EE;
}
.topic-rows:hover{
    /*background-color: rgba(0,255,255,0.02);*/
    background-color: #F7F8FB;
}

/*用户头像*/
.topic-headimg{
    height: 60px;
    width: 60px;
    float: left;
    /*display: inline-block;*/
    border-radius: 30px;
    margin: 10px 20px;
    overflow: hidden;
}
/*用户头像链接*/
.topic-headimg a{
    width: 100%;
    height: 100%;
    display: block;
    background: url('../image/default.png') no-repeat center  ;
    background-size: 100%;
}

/*帖子标题和信息*/
.topic-content{
    width: 80%;
    height:  80px;
    float: left;
    /*display: inline-block;*/
}

/*标题*/
.topic-title{
    height: 20px;
    margin: 13px 0;
    font-size: 18px;
    /*float: left;*/
}
/*标题链接样式*/
.topic-title:hover{
    text-decoration: underline;
}

/*帖子标题*/
.topic-title a{
    text-decoration: none;
    color: #232A3C;

}
/*帖子版块*/
.topic-block{
    float: left;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 14px;
    background-color: #EDf0f5;
}
/*帖子版块链接*/
.topic-block a{
    text-decoration: none;
    color: #3874a9 !important;
}

/*链接hover特效*/
.topic-block a:hover{
    text-decoration: underline;
}

.topic-time{
    height: 30px;
    font-size: 14px;
    color: gray;

}
.topic-time span{
    margin: 10px;
}

/*回帖数量*/
.topic-count{
    height: 18px;
    line-height: 18px;
    margin: 31px 20px;
    padding: 0 8px;
    border-radius: 10px;
    background-color: #96A7C4;
    color: white;
    font-size: 14px;
    text-align: center;
    float: right;
}
/*回帖数量链接*/
.topic-count a{
    height: 100%;
    line-height: 1.4em;
    color: #ffffff;
    display: block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
/*回帖数量链接特效*/
.topic-count a:hover{
    text-decoration: underline;
}
/*个人详情*/
.topic-details{
    width: 160px;
    height: 100px;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    text-align: center;
    transform: translate3d(-30px,40px,0px);
    background: rgba(174, 238, 238, 0.9);
    /*background: rgba(00, 00, 00, 0.2);*/
    display: none;
    overflow: hidden;
    /*border: 1px solid black;*/
}
.topic-headimg-box:hover>.topic-details{
    display: block;
} 
/* 详细信息内的头像 */
.topic-innerimg{
    height: 60px;
    width: 60px;
    position: absolute;
    /*display: inline-block;*/
    border-radius: 30px;
    overflow: hidden;
    transform: translate3d(50px,-30px,0);

}
.topic-innerimg a{
    width: 100%;
    height: 100%;
    display: block;
    background: url('../image/default.png') no-repeat center  ;
    background-size: 100%;
}

.topic-level{
    margin: 10px 0 0 8px;
    float: left;
}
.topic-name{
    margin-top: 30px;
}
.topic-markbar{
    height: 12px;
    position: absolute;
    background-color: pink;
    z-index: 1;
}
.topic-mark{
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    z-index: 2;
}
.topic-markbox{
    margin: 5px 0 7px 0;
    height: 12px;
    background-color:skyblue;
    /*border: 1px solid dodgerblue;*/
}
.topic-details span{
    display: block;

}
.topic-details button{
    margin: 0;
    outline: 0;
    color: black;
    border: 1px solid dodgerblue;
    transition: 0.1s;
    cursor: pointer;
    background: transparent;
    display: inline-block;
}
.topic-details button:hover{
    color: white;
    background: skyblue;
    display: inline-block;
}